@{
    ViewData["Title"] = "Cursos";
    var cursos = (List<Curso>)Model;
}

<form asp-action="cursos" method="get">
    <div class="">
        <input style="background-size:cover; " type="search" name="search" value="">
        <button class="button" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
    </div>
</form>

<section class="seccion">
    <ul class="lista-precios clearfix">
        @foreach (var item in cursos)
        {
            <li>
                <div class="tabla-precio">
                    <div class="porcomprar">
                        <h3>@item.Nombre</h3>
                    </div>
                    <a href="/Curso/Detalle?idCurso=">
                        <img alt="@item.Nombre" src="@item.Imagen">
                    </a>
                    <ul>
                        <li><i class="fa fa-user" aria-hidden="true"></i> <strong>@item.Docente.Nombres @item.Docente.Apellidos</strong></li>
                        <li><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>@item.Categoria.Nombre</strong></li>
                        @if (item.Descripcion.Length > 70)
                        {
                            <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>@item.Descripcion.Substring(0, 70) . . .</strong></li>
                        }
                        else
                        {
                            <li><i class="fa fa-calendar" aria-hidden="true"></i> <strong>@item.Descripcion</strong></li>
                        }
                    </ul>
                    <a href="#" class="button" onclick="Registrar(1,'hola',10,100)"><strong>S/ @item.Precio</strong></a>
                </div>
            </li>
        }
    </ul>
</section>