@{
    ViewData["Title"] = ViewBag.Nombre;
    var cursos = (List<Curso>)Model;
    string docente;
}

<section class="seccion contenedor">
    <form asp-action="Categorias" method="get">
        <div class="">
            <input style="background-size:cover; " type="search" name="search" value="">
            <button class="button" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Buscar</button>
        </div>
    </form>
</section>

<section class="seccion">
    <ul class="lista-precios clearfix">
        @foreach (var item in cursos)
        {
            <li>
                <div class="tabla-precio">
                    <div>
                        @if (item.Nombre.Length > 23)
                        {
                            <h3>@item.Nombre.Substring(0, 22) ...</h3>
                        }
                        else
                        {
                            <h3>@item.Nombre</h3>
                        }
                    </div>
                    <a href="/Curso/Detalle?idCurso=@item.Id">
                        <img alt="@item.Nombre" src="@item.Imagen">
                    </a>
                    <ul>
                        <li>
                            <i class="fa fa-user" aria-hidden="true"></i>
                            @{docente = item.Docente.Nombres + " " + item.Docente.Apellidos;}
                            @if (docente.Length > 23)
                            {
                                <span>@docente.Substring(0, 22) ...</span>
                            }
                            else
                            {
                                @docente
                            }
                        </li>
                        <li><i class="fa fa-book" aria-hidden="true"></i> @item.Categoria.Nombre</li>
                        @if (item.Precio > 0)
                        {
                            <li>S/ @item.Precio</li>
                        }
                        else
                        {
                            <li>Gratuito</li>
                        }
                        @if (item.Estado)
                        {
                            <li><i class="fa fa-check-circle" aria-hidden="true"></i> Concluido</li>
                        }
                        else
                        {
                            <li><i class="fa fa-hourglass-end" aria-hidden="true"></i> En progreso</li>
                        }
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        var comprado = false;
                        var pagado = false;
                        var compras = (List<CursoUsuario>)ViewBag.Compras;
                        @foreach (var compra in compras)
                        {
                            if (item.Id == compra.IdCurso)
                            {
                                if (compra.Pagado)
                                {
                                    pagado = true;
                                    comprado = true;
                                    break;
                                }
                                else
                                {
                                    comprado = true;
                                    break;
                                }
                            }
                        }
                        @if (comprado && pagado)
                        {
                            <a class="button" id="compra_@item.Id" href="#"><i class="fa fa-pencil" aria-hidden="true"></i></a> @*Cuando ya esta pagado*@
                        }
                        else if (comprado && !pagado)
                        {
                            <a class="button" id="compra_@item.Id" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a> @*Cuando esta en la cesta*@
                        }
                        else
                        {
                            <a class="button" id="compra_@item.Id" onclick="Comprar(@item.Id)" href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
                        }

                        var favorito = false;
                        var favoritos = (List<Favoritos>)ViewBag.Favoritos;
                        @foreach (var fav in favoritos)
                        {
                            if (item.Id == fav.IdCurso)
                            {
                                favorito = true;
                                break;
                            }
                        }
                        @if (favorito)
                        {
                            <a id="favorite_@item.Id" class="button favorito"><i onclick="nofavorite(@item.Id)" class="fa fa-heart" aria-hidden="true"></i></a>
                        }
                        else
                        {
                            <a id="favorite_@item.Id" class="button favorito"><i onclick="favorite(@item.Id)" class="fa fa-heart-o" aria-hidden="true"></i></a>
                        }
                    }
                    else
                    {
                        <a class="button" href="/User/Login"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                        <a class="button" href="/User/Login"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                    }
                </div>
            </li>
        }
    </ul>
</section>