@{
    ViewData["Title"] = ViewBag.Nombre;
    var curso = (Curso)Model;
    int i = 1;
}

<section class="seccion">
    <h1>@curso.Nombre</h1>
    <p class="line_curso">@curso.Detalle</p>
    <div class="cuadro">
        <h5>Descripción</h5>
        <span>@curso.Descripcion</span>
    </div>

    <div class="card cuadro">
        <div class="card-body">
            <h5 class="card-title">Lo que aprenderás</h5>
            <ul>
                @if (curso.Aprendizajes != null)
                {
                    foreach (var item in curso.Aprendizajes)
                    {
                        <li><i class="fa fa-check" aria-hidden="true"></i> @item.Descripcion</li>
                    }
                }
                else
                {
                    <li><i class="fa fa-check" aria-hidden="true"></i> En este curso aun faltan subir algunos detalles</li>
                }
            </ul>
        </div>
    </div>

    <div class="card cuadro">
        <div class="card-body">
            <h5 class="card-title">Contenido del curso</h5>
            <div class="accordion" id="accordionExample">
                @if (curso.Modulos != null)
                {
                    foreach (var item in curso.Modulos)
                    {
                        <div class="accordion-item">
                            <h5 class="accordion-header" id="heading_@item.Id">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@item.Id" aria-expanded="true" aria-controls="collapse_@item.Id">
                                    @item.Nombre
                                </button>
                            </h5>
                            <div id="collapse_@item.Id" class="accordion-collapse collapse" aria-labelledby="heading_@item.Id" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ul>
                                        @foreach (var clases in item.Clases)
                                        {
                                            <li>@i.  @clases.Nombre</li>
                                            i++;
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <i class="fa fa-check" aria-hidden="true"> En este curso aun faltan subir algunos detalles </i>
                }
            </div>
        </div>
    </div>

    <div class="card cuadro">
        <div class="card-body">
            <h5 class="card-title">Requisitos para este curso</h5>
            <ul>
                @if (curso.Requisitos != null)
                {
                    foreach (var item in curso.Requisitos)
                    {
                        <li><i class="fa fa-check" aria-hidden="true"></i> @item.Requisito</li>
                    }
                }
                else
                {
                    <li><i class="fa fa-check" aria-hidden="true"></i> En este curso aun faltan subir algunos detalles </li>
                }
            </ul>
        </div>
    </div>

    <div class="card cuadro">
        <div class="right-image">
        </div>
        <div class="row g-0">
            <div class="col-md-3">
                <img class="img-fluid rounded-start" src="@curso.Docente.Imagen" alt="@curso.Docente.Nombres" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Instructor</h5>
                    <h6><a href="/Curso/Cursos?idDocente=@curso.Docente.Id">@curso.Docente.Nombres @curso.Docente.Apellidos</a></h6>
                    <div><span>@curso.Docente.Titulo</span></div>
                    <div><span>@curso.Docente.Biografia</span></div>
                </div>
            </div>
        </div>
    </div>

    @if (curso.Comentarios != null)
    {
        <h5 class="card-title">Comentarios de los estudiantes</h5>
        @foreach (var item in curso.Comentarios)
        {
            <div class="card cuadro">
                <div class="card-body">
                    <strong>@item.Usuario.Nombres @item.Usuario.Apellidos</strong>
                    <div><spam>@item.Comentario</spam></div>
                </div>
            </div>
        }
    }
    <form action="/Curso/Comentario" class="col-12" method="post">
        <input type="hidden" name="idCurso" value="@curso.Id" />
        <div class="mb-3">
            <label class="form-label" for="Comentario">Agregar comentario</label>
            <input type="text" class="form-control" placeholder="Comentario" name="Comentario" />
            <p class="alert-danger">@Html.ValidationMessage("videoClase")</p>
        </div>
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
    </form>
</section>