@{
    Layout = "~/Views/Shared/Ajustes_Layout.cshtml";
    ViewData["Title"] = "Cursos terminados";
    var compras = (List<CursoUsuario>)Model;
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Favoritos</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/admin/">Perfil</a></li>
        <li class="breadcrumb-item active">Favoritos</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Tabla de Favoritos
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Precio</th>
                        <th>Docente</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Docente</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in compras)
                    {
                        <tr>
                            <td><img width="25" src="@item.Cursos.Imagen" alt=""></td>
                            <td>@item.Cursos.Nombre</td>
                            <td>@item.Cursos.Precio</td>
                            <td>@item.Cursos.Docente.Nombres @item.Cursos.Docente.Apellidos</td>
                            <td class="float-right">
                                <a class="btn btn-success btn-sm" href="/Curso/Detalle?idCurso=@item.Cursos.Id"><i class="far fa-eye"></i></a>
                                <a class="btn btn-success btn-sm" href="/Curso/Detalle?idCurso=@item.Cursos.Id"><i class="far fa-eye"></i></a> @* ver certificado*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
